/* header */
.app {
  overflow: hidden; }

.header {
  height: 120px;
  background-image: linear-gradient(to bottom, #f53e2d, #ff6533); }
  .header .header__navbar {
    display: flex;
    font-size: 1.32rem;
    height: 40px;
    justify-content: space-between; }
    .header .header__navbar .navbar__list {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin: 12px 0px;
      /* Qr code */ }
      .header .header__navbar .navbar__list .navbar__item {
        padding: 0px 10px;
        color: var(--white-color);
        font-weight: 390;
        position: relative;
        min-height: 20px; }
        .header .header__navbar .navbar__list .navbar__item .nav__item__href {
          color: var(--white-color);
          text-decoration: none; }
        .header .header__navbar .navbar__list .navbar__item .navbar__icon--modify {
          font-size: 1.65rem;
          margin: -2px 4px; }
        .header .header__navbar .navbar__list .navbar__item .navbar__item_static {
          cursor: text;
          color: var(--white-color); }
        .header .header__navbar .navbar__list .navbar__item .user__img {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin: -3px 4px;
          border: 1px solid rgba(0, 0, 0, 0.19); }
      .header .header__navbar .navbar__list .user__item {
        display: flex;
        position: relative; }
        .header .header__navbar .navbar__list .user__item .user__item--menu {
          display: none;
          position: absolute;
          width: 100%;
          list-style: none;
          padding: 3px 3px 3px 0px;
          background-color: var(--white-color);
          color: var(--text-color);
          border-radius: 2px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
          top: calc(100% + 1px);
          right: 10.5px;
          z-index: 1;
          transform-origin: calc(100% - 38px) top;
          animation: headerNotifyGrowth ease-in 0.3s; }
          .header .header__navbar .navbar__list .user__item .user__item--menu .menu__item {
            padding: 10px 14px;
            font-size: 1.5rem;
            font-weight: 500; }
          .header .header__navbar .navbar__list .user__item .user__item--menu .menu__item:hover {
            background-color: var(--light-color);
            color: rgba(0, 0, 0, 0.4); }
        .header .header__navbar .navbar__list .user__item .user__item--menu::before {
          position: absolute;
          content: "";
          border-style: solid;
          border-width: 13px 17px;
          top: calc(100% - 137px);
          right: 30px;
          border-color: transparent transparent var(--white-color) transparent; }
        .header .header__navbar .navbar__list .user__item .user__item--menu::after {
          position: absolute;
          content: "";
          top: calc(100% - 124px);
          right: 0;
          width: 123px;
          height: 8px; }
      .header .header__navbar .navbar__list .user__item:hover .user__item--menu {
        display: block; }
      .header .header__navbar .navbar__list .navbar__item:hover,
      .header .header__navbar .navbar__list .nav__item__href:hover,
      .header .header__navbar .navbar__list .navbar__icon--link:hover {
        color: rgba(255, 255, 255, 0.75);
        cursor: pointer; }
      .header .header__navbar .navbar__list .navbar__item--bold {
        font-weight: 500; }
      .header .header__navbar .navbar__list .navbar__item--separate::after {
        content: "";
        margin: 0px -10px;
        display: block;
        position: absolute;
        height: 13px;
        border-left: 1px solid #fa8f82;
        top: 9%; }
      .header .header__navbar .navbar__list .navbar__icon--link {
        color: var(--white-color);
        text-decoration: none; }
      .header .header__navbar .navbar__list .header__qr {
        background-color: var(--white-color);
        display: none;
        flex-direction: column;
        width: 186px;
        position: absolute;
        left: 10px;
        top: 134%;
        padding: 4px;
        border-radius: 3px;
        z-index: 2;
        box-shadow: 0 1px 5px rgba(160, 155, 154, 0.17);
        animation: fadeIn ease-in .2s; }
        .header .header__navbar .navbar__list .header__qr .header__qr_apps {
          display: flex;
          flex-wrap: wrap;
          margin-left: 8px;
          margin-right: -8px; }
          .header .header__navbar .navbar__list .header__qr .header__qr_apps .header__qr_app-img {
            width: 39%;
            margin: 4px 5px; }
      .header .header__navbar .navbar__list .header__qr::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 14px;
        left: 0px;
        top: -13px; }
      .header .header__navbar .navbar__list .navbar__item--qr:hover .header__qr {
        display: flex; }
      .header .header__navbar .navbar__list .nav__item__notifycation {
        background-color: #fff;
        position: absolute;
        width: 400px;
        display: none;
        height: 410px;
        right: 9px;
        top: 134%;
        border-radius: 3px;
        z-index: 2;
        box-shadow: 0 0 10px rgba(61, 59, 59, 0.16);
        border: 1px solid rgba(0, 0, 0, 0.09);
        transform-origin: calc(100% - 20px) top;
        animation: headerNotifyGrowth ease-in .25s;
        will-change: opacity, transform; }
        .header .header__navbar .navbar__list .nav__item__notifycation .nav__notifycation--header {
          height: 4.0rem;
          color: #bbb;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 4.0rem;
          background-color: var(--white-color);
          padding: 0px 10px;
          cursor: default;
          user-select: none; }
        .header .header__navbar .navbar__list .nav__item__notifycation .nav__notifycation__list {
          background-color: #fff2ee;
          height: 82%;
          list-style: none;
          padding-left: 0px; }
          .header .header__navbar .navbar__list .nav__item__notifycation .nav__notifycation__list .notifycation__item .notifycation__item__link {
            text-decoration: none;
            display: flex;
            padding: 8px 10px; }
            .header .header__navbar .navbar__list .nav__item__notifycation .nav__notifycation__list .notifycation__item .notifycation__item__link .notifycation-info {
              display: flex;
              flex-direction: column;
              margin-left: 2px; }
              .header .header__navbar .navbar__list .nav__item__notifycation .nav__notifycation__list .notifycation__item .notifycation__item__link .notifycation-info .notifycation-name {
                font-size: 14px;
                margin: 0px 0px 5px;
                color: var(--black-color);
                font-weight: 300; }
              .header .header__navbar .navbar__list .nav__item__notifycation .nav__notifycation__list .notifycation__item .notifycation__item__link .notifycation-info .notifycation-description {
                font-size: 12px;
                color: #756f6d;
                margin: 0px 0px 5px; }
            .header .header__navbar .navbar__list .nav__item__notifycation .nav__notifycation__list .notifycation__item .notifycation__item__link .notifycation-img {
              width: 4.8rem;
              object-fit: contain; }
          .header .header__navbar .navbar__list .nav__item__notifycation .nav__notifycation__list .notifycation__item:hover {
            background-color: var(--light-color); }
        .header .header__navbar .navbar__list .nav__item__notifycation .nav__footer__notifycation {
          display: flex;
          font-size: 1.4rem;
          font-weight: 400; }
          .header .header__navbar .navbar__list .nav__item__notifycation .nav__footer__notifycation .footer__notify__link {
            text-decoration: none;
            padding: 9px;
            color: rgba(0, 0, 0, 0.68);
            margin: auto; }
      .header .header__navbar .navbar__list .nav__item__notifycation::after {
        position: absolute;
        content: "";
        border-width: 20px 27px;
        border-style: solid;
        top: -30px;
        right: 15px;
        border-color: transparent transparent var(--white-color) transparent; }
      .header .header__navbar .navbar__list .nav__item__notifycation::before {
        position: absolute;
        content: "";
        width: 21%;
        height: 16px;
        right: -1px;
        top: -16px; }
      .header .header__navbar .navbar__list .navbar__hover--notify:hover .nav__item__notifycation {
        display: block; }
  .header .header__sort__bar {
    position: fixed;
    display: none;
    top: 80px;
    left: 0px;
    right: 0px;
    height: 46px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 0px;
    margin: 0;
    background-color: var(--white-color);
    list-style: none; }
    .header .header__sort__bar .header__sort_item {
      flex: 1; }
      .header .header__sort__bar .header__sort_item:last-child .header__sort__link {
        border-right: none; }
      .header .header__sort__bar .header__sort_item .header__sort__link {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.4rem;
        display: block;
        text-align: center;
        border-right: 1px solid #ccc;
        margin: 6px 0px;
        line-height: 34px; }
  .header .mid__cushion {
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    height: 80px;
    background-image: linear-gradient(to bottom, #f53e2d, #ff6533);
    z-index: 2; }

.header__with__search {
  height: 80px;
  display: flex;
  margin: 0px;
  align-items: center; }
  .header__with__search .mobile_icon {
    display: none; }
  .header__with__search .header__logo .header__logo-img {
    height: 49px;
    width: 146px;
    padding: 0px 10px;
    margin-right: 48px;
    fill: var(--white-color);
    cursor: pointer; }
  .header__with__search .header_search {
    height: 40px;
    flex: 1;
    display: flex;
    box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.15);
    font-size: 1.5rem;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 2.5px; }
    .header__with__search .header_search .search__input_wrap {
      flex: 1;
      position: relative; }
      .header__with__search .header_search .search__input_wrap .search__input {
        height: 90%;
        width: 98%;
        color: var(--text-color);
        border: none;
        outline: none;
        font-weight: 300;
        margin-left: 1.4rem;
        letter-spacing: 1.2px; }
      .header__with__search .header_search .search__input_wrap .search__input:focus ~ .search__history__search {
        display: block; }
      .header__with__search .header_search .search__input_wrap .search__history__search {
        display: none;
        position: absolute;
        top: 162%;
        width: calc(100% - 16px);
        left: 0px;
        border-radius: 2px;
        overflow: hidden;
        z-index: 1;
        background-color: var(--white-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.17); }
        .header__with__search .header_search .search__input_wrap .search__history__search .search__input__history__heading {
          margin: 8px 14px;
          font-size: 1.4rem;
          color: #aaa;
          font-weight: 300; }
        .header__with__search .header_search .search__input_wrap .search__history__search .history__list__items {
          padding-left: 0px;
          list-style: none;
          margin: 5px 0 0; }
          .header__with__search .header_search .search__input_wrap .search__history__search .history__list__items .history__item {
            height: 35px;
            padding: 0px 14px; }
            .header__with__search .header_search .search__input_wrap .search__history__search .history__list__items .history__item a {
              text-decoration: none;
              font-size: 1.4rem;
              align-items: center;
              color: var(--text-color);
              line-height: 36px;
              display: block; }
          .header__with__search .header_search .search__input_wrap .search__history__search .history__list__items .history__item:hover {
            background-color: #fafafa; }
    .header__with__search .header_search .search__separate {
      height: 30px;
      display: block;
      top: 65px;
      border-left: 1px solid #E8E8E8; }
    .header__with__search .header_search .header__search__select,
    .header__with__search .header_search .search__icon__search {
      display: flex;
      cursor: pointer;
      align-items: center;
      height: 35px; }
    .header__with__search .header_search .header__search__select {
      width: 110px;
      position: relative;
      justify-content: space-around;
      font-size: 1.4rem;
      font-weight: 300;
      padding-left: 9px; }
      .header__with__search .header_search .header__search__select .select__icon {
        color: #4a4a4a;
        font-size: 1.4rem; }
      .header__with__search .header_search .header__search__select .select__option {
        position: absolute;
        display: none;
        flex-direction: column;
        list-style: none;
        background-color: var(--white-color);
        top: 87%;
        right: 0px;
        width: 164px;
        height: 67px;
        z-index: 1;
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09);
        animation: fadeIn ease-out .2s; }
        .header__with__search .header_search .header__search__select .select__option .option__item {
          width: 164px;
          margin: 1px 11px 0px -40px;
          padding: 8px 10px;
          display: flex;
          align-items: center;
          text-align: left;
          justify-content: space-between; }
          .header__with__search .header_search .header__search__select .select__option .option__item:hover {
            background-color: #f8f8f8; }
          .header__with__search .header_search .header__search__select .select__option .option__item .option__icon {
            color: #ee4d2d; }
      .header__with__search .header_search .header__search__select .select__option::before {
        content: "";
        position: absolute;
        top: -13%;
        width: 110px;
        height: 10px;
        right: 0px; }
      .header__with__search .header_search .header__search__select:hover .select__option {
        display: flex; }
    .header__with__search .header_search .search__icon__search {
      width: 60px;
      margin: 0px 2px;
      justify-content: center;
      background-color: #fb5533;
      color: var(--white-color);
      border-radius: 2px; }
      .header__with__search .header_search .search__icon__search:hover {
        opacity: 0.92; }
  .header__with__search .header__cart {
    width: 165px;
    text-align: center; }
    .header__with__search .header__cart .header__cart__wrap {
      position: relative;
      display: inline-block;
      padding: 0px 10px;
      -webkit-tap-highlight-color: transparent; }
      .header__with__search .header__cart .header__cart__wrap .cart__notice {
        position: absolute;
        padding: 1px 6px;
        font-size: 1.6rem;
        line-height: 1.5rem;
        top: calc(100% - 35px);
        right: -3px;
        border-radius: 42%;
        color: var(--primary-color);
        background-color: var(--white-color);
        cursor: pointer; }
    .header__with__search .header__cart .header__cart_link {
      text-decoration: none;
      color: var(--white-color);
      font-size: 24px; }
    .header__with__search .header__cart .header__cart_list {
      display: none;
      position: absolute;
      top: calc(100% + 9.5px);
      right: -4px;
      width: 393px;
      background-color: var(--white-color);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.09);
      border-radius: 3px;
      z-index: 1;
      transform-origin: calc(100% - 10px) top;
      animation: cartGrowth 0.3s ease-in; }
      .header__with__search .header__cart .header__cart_list .no__product-img {
        width: 200px;
        height: 107px; }
      .header__with__search .header__cart .header__cart_list .cart__empty__text {
        font-size: 1.4rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-block-start: 2em;
        margin-block-end: 1em; }
      .header__with__search .header__cart .header__cart_list .cart__header {
        text-align: left;
        margin: 10px 12px;
        font-size: 1.4rem;
        color: #aaa;
        font-weight: 300;
        cursor: default; }
      .header__with__search .header__cart .header__cart_list .cart__body .cart__list_product {
        margin: 0;
        padding: 0;
        height: 50vh;
        overflow-y: auto; }
        .header__with__search .header__cart .header__cart_list .cart__body .cart__list_product .cart__product__item {
          display: flex;
          padding: 12px;
          list-style: none;
          cursor: pointer; }
          .header__with__search .header__cart .header__cart_list .cart__body .cart__list_product .cart__product__item .cart__product-img {
            width: 42px;
            height: 42px;
            border: 1px solid rgba(0, 0, 0, 0.09); }
          .header__with__search .header__cart .header__cart_list .cart__body .cart__list_product .cart__product__item .cart__product__info {
            margin-left: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            color: var(--text-color); }
            .header__with__search .header__cart .header__cart_list .cart__body .cart__list_product .cart__product__item .cart__product__info .cart__product__name {
              margin: 0px;
              padding-right: 16px;
              flex: 1;
              line-height: 1.8rem;
              max-height: 3.6rem;
              text-align: left;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2; }
            .header__with__search .header__cart .header__cart_list .cart__body .cart__list_product .cart__product__item .cart__product__info .cart__product__price {
              font-weight: 520;
              color: #eb836a; }
        .header__with__search .header__cart .header__cart_list .cart__body .cart__list_product .cart__product__item:hover {
          background-color: var(--light-color); }
      .header__with__search .header__cart .header__cart_list .cart__footer {
        display: flex;
        justify-content: flex-end;
        margin: 16px 9px; }
    .header__with__search .header__cart .header__cart__no__product {
      padding: 20px 0px;
      font-weight: 500;
      z-index: 1; }
    .header__with__search .header__cart .no__product-img,
    .header__with__search .header__cart .cart__empty__text,
    .header__with__search .header__cart .header__cart__no__product {
      margin-left: auto;
      margin-right: auto;
      display: none; }
  .header__with__search .header__cart__wrap:hover .header__cart_list {
    display: block; }
  .header__with__search .header__cart_list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: 0px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent white transparent; }
  .header__with__search .header__cart_list::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 0px;
    width: 60px;
    height: 27px;
    z-index: 1; }
  .header__with__search .header__user {
    display: none; }

/* modal */
.auth__form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 4px;
  overflow: hidden; }

.auth__form__container {
  padding: 0px 32px; }
  .auth__form__container .auth__form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px; }
    .auth__form__container .auth__form__header .auth__form__heading {
      font-weight: 490;
      font-size: 2.2rem;
      color: var(--text-color); }
    .auth__form__container .auth__form__header .auth__form-switch-btn {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--primary-color);
      cursor: pointer; }
  .auth__form__container .auth__form__form .auth__form-group .auth__form__input {
    width: 100%;
    height: 4.0rem;
    margin-top: 1.6rem;
    padding: 0 1.2rem;
    font-size: 1.2rem;
    outline: none;
    border-radius: 2px;
    border: 1px solid var(--border-color); }
  .auth__form__container .auth__form__form .auth__form-group .auth__form__input:focus {
    border-color: #8889; }
  .auth__form__container .auth__form__aside {
    margin-top: 18px; }
    .auth__form__container .auth__form__aside .auth__form__policy_text {
      font-size: 1.2rem;
      line-height: 1.6rem;
      display: inline-block;
      text-align: center;
      padding: 0px 12px; }
      .auth__form__container .auth__form__aside .auth__form__policy_text .auth__form__text__link {
        text-decoration: none;
        color: var(--primary-color); }
    .auth__form__container .auth__form__aside .aside_help {
      display: flex;
      justify-content: flex-end; }
      .auth__form__container .auth__form__aside .aside_help .help__link {
        text-decoration: none;
        font-size: 1.4rem;
        color: #939393; }
        .auth__form__container .auth__form__aside .aside_help .help__link:nth-child(1) {
          color: var(--primary-color); }
      .auth__form__container .auth__form__aside .aside_help .help__separate {
        height: 2.1rem;
        margin: -3px 15px;
        border-left: 1px solid #DBDBDB; }
  .auth__form__container .auth__form__controls {
    display: flex;
    margin-top: 80px;
    justify-content: flex-end;
    margin-bottom: 21px; }

.auth__form__socials {
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between; }
  .auth__form__socials .auth__social_icon {
    font-size: 1.7rem; }
  .auth__form__socials .icon_facebook {
    margin-left: -16px; }
  .auth__form__socials .auth__social_title {
    margin: 0px 30px; }

/* container */
.container {
  background-color: whitesmoke; }

/*category*/
.category {
  background-color: var(--white-color);
  border-radius: 3px; }
  .category .category__heading {
    font-size: 1.7rem;
    padding: 8px;
    box-shadow: 0px 1px 2px #e1e1e1; }
    .category .category__heading .category__icon__heading {
      font-size: 1.4rem;
      margin-right: 8px; }
  .category .category-list {
    padding-left: 0px;
    margin-top: -14px; }
    .category .category-list .category-item {
      display: block;
      list-style: none;
      padding: 10px 0px;
      margin: 0px 20px;
      border-bottom: 1px solid #e1e1e1;
      cursor: pointer; }
      .category .category-list .category-item:last-child {
        border-bottom: none; }
      .category .category-list .category-item .category-item__link {
        position: relative;
        font-size: 1.4rem;
        text-decoration: none;
        color: var(--text-color);
        right: 0px;
        transition: top right ease-in 0.1s; }
    .category .category-list .category-item-active.category-item__link {
      color: var(--primary-color); }
    .category .category-list .category-item-active.category-item__link::before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      border: 5px solid;
      border-color: transparent transparent transparent var(--primary-color); }
    .category .category-list .category-item__link:hover {
      top: -2px;
      right: -3px;
      color: #ee4d2d; }

/* home filter */
.home__filter {
  margin-top: 18px;
  padding: 14px 10px;
  background-color: #ededed;
  display: flex;
  align-items: center;
  border-radius: 2px; }
  .home__filter .filter__sort {
    font-size: 1.4rem;
    color: #775555;
    margin: 0px 12px; }
  .home__filter .home__select__price {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 6px;
    padding: 0px 12px;
    width: 200px;
    height: 36px;
    font-size: 1.5rem;
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: pointer; }
    .home__filter .home__select__price .select__sort__price {
      padding: 8px 0px;
      position: absolute;
      display: none;
      top: calc(100% - 12px);
      width: 100%;
      right: 0px;
      border-radius: 2px;
      z-index: 1;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.17);
      background-color: var(--white-color);
      animation: fadeIn ease-in .2s; }
      .home__filter .home__select__price .select__sort__price .select__price-item {
        display: block;
        list-style: none;
        padding: 10px 16px; }
      .home__filter .home__select__price .select__sort__price .select__price-item:hover {
        color: var(--primary-color); }
    .home__filter .home__select__price .select__sort__price::after {
      position: absolute;
      content: "";
      top: calc(100% - 93px);
      right: 0px;
      width: 100%;
      height: 5px; }
  .home__filter .home__select__price:hover .select__sort__price {
    display: block; }
  .home__filter .home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 14px; }
    .home__filter .home-filter__page .page__count-number {
      color: #d8501b; }
    .home__filter .home-filter__page .page__number,
    .home__filter .home-filter__page .page__count-number {
      cursor: default; }
    .home__filter .home-filter__page .filter__next__page {
      text-decoration: none;
      display: flex;
      align-items: center;
      height: 36px;
      margin-left: 20px;
      color: #555; }
      .home__filter .home-filter__page .filter__next__page .icon__left {
        color: #cccccc;
        background-color: #f9f9f9;
        cursor: default; }

/* mobile_category */
.mobile_category {
  display: none;
  margin-bottom: -15px; }
  .mobile_category .category_list {
    list-style: none;
    display: flex;
    overflow-x: auto;
    padding-left: 0px; }
    .mobile_category .category_list .category_item {
      border-radius: 5px;
      flex-shrink: 0;
      margin: 0 12px 10px 0px; }
      .mobile_category .category_list .category_item:nth-of-type(3n - 2) {
        background-color: #86afd7; }
      .mobile_category .category_list .category_item:nth-of-type(3n - 1) {
        background-color: #76c9bd; }
      .mobile_category .category_list .category_item:nth-of-type(3n) {
        background-color: #88cf81; }
      .mobile_category .category_list .category_item .item-link {
        --line-height: 2rem;
        text-decoration: none;
        display: flex;
        color: var(--white-color);
        font-size: 1.4rem;
        width: 110px;
        text-align: center;
        align-items: center;
        padding: 0 6px;
        text-overflow: ellipsis;
        line-height: var(--line-height);
        height: calc(var(--line-height) * 2);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        user-select: none;
        -webkit-user-drag: none; }
  .mobile_category .category_list::-webkit-scrollbar {
    display: none; }

/*home product*/
.home__product {
  margin-bottom: 10px; }
  .home__product .product__item {
    position: relative;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17);
    cursor: pointer;
    transition: transform ease-in 0.1s;
    will-change: transform; }
    .home__product .product__item .product_item-img {
      padding-top: 100%;
      background-size: contain;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      background-repeat: no-repeat;
      background-position: center; }
    .home__product .product__item .product__item_name {
      margin: 8px 0px;
      padding: 0px 10px;
      font-size: 1.4rem;
      font-weight: 400;
      word-spacing: 2px;
      color: var(--text-color);
      line-height: 1.8rem;
      height: 3.6rem;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; }
    .home__product .product__item .product__item_price {
      display: flex;
      align-items: baseline;
      margin: 0px 10px;
      font-size: 1.6rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .home__product .product__item .product__item_price .price_old {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
        margin-right: 8px; }
      .home__product .product__item .product__item_price .price_current {
        color: var(--primary-color); }
    .home__product .product__item .product_item--action {
      display: flex;
      margin: 10px 10px;
      justify-content: space-between; }
      .home__product .product__item .product_item--action .action-heart {
        font-size: 1.4rem; }
        .home__product .product__item .product_item--action .action-heart .heart--empty {
          display: none; }
        .home__product .product__item .product_item--action .action-heart .heart--fill {
          display: inline-block;
          color: #f53d2f; }
      .home__product .product__item .product_item--action .action-rating {
        font-size: 1rem; }
        .home__product .product__item .product_item--action .action-rating .star--gold {
          color: #ffce3d; }
          .home__product .product__item .product_item--action .action-rating .star--gold:nth-child(1) {
            display: inline-block; }
          .home__product .product__item .product_item--action .action-rating .star--gold:nth-child(2) {
            display: inline-block; }
          .home__product .product__item .product_item--action .action-rating .star--gold:nth-child(3) {
            display: inline-block; }
          .home__product .product__item .product_item--action .action-rating .star--gold:nth-child(4) {
            display: inline-block; }
          .home__product .product__item .product_item--action .action-rating .star--gold:nth-child(5) {
            display: inline-block; }
        .home__product .product__item .product_item--action .action-rating .star--empty {
          color: #d5d5d5; }
          .home__product .product__item .product_item--action .action-rating .star--empty:nth-child(6) {
            display: none; }
          .home__product .product__item .product_item--action .action-rating .star--empty:nth-child(7) {
            display: none; }
          .home__product .product__item .product_item--action .action-rating .star--empty:nth-child(8) {
            display: none; }
          .home__product .product__item .product_item--action .action-rating .star--empty:nth-child(9) {
            display: none; }
          .home__product .product__item .product_item--action .action-rating .star--empty:nth-child(10) {
            display: none; }
      .home__product .product__item .product_item--action .sold--quantity {
        margin-left: -10px;
        font-size: 1.2rem;
        color: var(--text-color); }
    .home__product .product__item .product__item--origin {
      display: flex;
      margin: 0px 10px;
      padding-bottom: 5px;
      font-size: 1.2rem;
      font-weight: 300;
      color: #8c8c8c; }
      .home__product .product__item .product__item--origin .origin--trademark {
        margin-right: auto; }
    .home__product .product__item .product__item--favourite {
      position: absolute;
      top: 10px;
      padding: 2px 4px 1px;
      left: -4px;
      font-size: 1.2rem;
      font-weight: 500;
      color: #f25220;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      background-color: currentColor; }
      .home__product .product__item .product__item--favourite i {
        font-size: 0.9rem;
        margin-right: 1px;
        color: var(--white-color); }
      .home__product .product__item .product__item--favourite span {
        color: var(--white-color); }
    .home__product .product__item .product__item--favourite::before {
      content: "";
      top: 16px;
      left: 0px;
      position: absolute;
      border-top: 4px solid currentColor;
      border-left: 4px solid transparent;
      filter: brightness(60%); }
    .home__product .product__item .product__item__sale--off {
      position: absolute;
      text-align: center;
      width: 40px;
      height: 36px;
      top: 0;
      right: 0;
      padding-top: 5px;
      font-size: 1.2rem;
      background-color: rgba(255, 216, 57, 0.95); }
      .home__product .product__item .product__item__sale--off .sale--off--percent {
        color: var(--primary-color);
        font-weight: 600; }
      .home__product .product__item .product__item__sale--off .sale--off--label {
        color: var(--white-color); }
    .home__product .product__item .product__item__sale--off::before {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      border-width: 0px 20px 4px;
      border-style: solid;
      border-color: transparent rgba(255, 216, 57, 0.95); }
  .home__product .product__item:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
    transform: translateY(-1px); }

/*pagination*/
.pagination {
  display: flex;
  padding-left: 0px;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #939393; }
  .pagination .pagination__item {
    list-style: none;
    margin: 0px 8px; }
    .pagination .pagination__item .item__link {
      display: block;
      line-height: 3rem;
      text-align: center;
      text-decoration: none;
      color: #939393;
      min-width: 40px;
      height: 30px;
      border-radius: 2px; }
      .pagination .pagination__item .item__link .item__icon {
        line-height: 3.2rem; }
  .pagination .item__active .item__link {
    color: var(--white-color);
    background-color: var(--primary-color); }
  .pagination .item__active .item__link:hover {
    opacity: 0.9; }

.home__product--pagination {
  margin: 50px 0px 70px; }

/*footer*/
.footer {
  padding: 65px 0px 0px;
  border-top: 5px solid var(--primary-color); }
  .footer .footer__header {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 3rem;
    color: #9f7373; }
  .footer .list__item,
  .footer .bank__icon,
  .footer .shipping__unit,
  .footer .follow__link {
    padding-left: 0px;
    font-size: 1.2rem;
    line-height: 2.8rem; }
    .footer .list__item .item__link,
    .footer .list__item .item__icon,
    .footer .list__item .link__item,
    .footer .bank__icon .item__link,
    .footer .bank__icon .item__icon,
    .footer .bank__icon .link__item,
    .footer .shipping__unit .item__link,
    .footer .shipping__unit .item__icon,
    .footer .shipping__unit .link__item,
    .footer .follow__link .item__link,
    .footer .follow__link .item__icon,
    .footer .follow__link .link__item {
      list-style: none; }
      .footer .list__item .item__link a,
      .footer .list__item .item__icon a,
      .footer .list__item .link__item a,
      .footer .bank__icon .item__link a,
      .footer .bank__icon .item__icon a,
      .footer .bank__icon .link__item a,
      .footer .shipping__unit .item__link a,
      .footer .shipping__unit .item__icon a,
      .footer .shipping__unit .link__item a,
      .footer .follow__link .item__link a,
      .footer .follow__link .item__icon a,
      .footer .follow__link .link__item a {
        text-decoration: none;
        color: #737373; }
        .footer .list__item .item__link a i,
        .footer .list__item .item__icon a i,
        .footer .list__item .link__item a i,
        .footer .bank__icon .item__link a i,
        .footer .bank__icon .item__icon a i,
        .footer .bank__icon .link__item a i,
        .footer .shipping__unit .item__link a i,
        .footer .shipping__unit .item__icon a i,
        .footer .shipping__unit .link__item a i,
        .footer .follow__link .item__link a i,
        .footer .follow__link .item__icon a i,
        .footer .follow__link .link__item a i {
          margin: 0px 10px 4px 0px;
          font-size: 1.6rem;
          color: #4a4a4a;
          transform: translateY(10%); }
      .footer .list__item .item__link a:hover,
      .footer .list__item .item__icon a:hover,
      .footer .list__item .link__item a:hover,
      .footer .bank__icon .item__link a:hover,
      .footer .bank__icon .item__icon a:hover,
      .footer .bank__icon .link__item a:hover,
      .footer .shipping__unit .item__link a:hover,
      .footer .shipping__unit .item__icon a:hover,
      .footer .shipping__unit .link__item a:hover,
      .footer .follow__link .item__link a:hover,
      .footer .follow__link .item__icon a:hover,
      .footer .follow__link .link__item a:hover {
        color: var(--primary-color); }
  .footer .bank__icon {
    display: flex;
    flex-wrap: wrap; }
    .footer .bank__icon item__icon {
      background-size: contain;
      background-repeat: no-repeat; }
  .footer .footer_qr {
    display: flex;
    margin-top: 19px; }
    .footer .footer_qr .qr {
      margin-right: 15px;
      width: 88px;
      object-fit: contain;
      border: 1px solid rgba(0, 0, 0, 0.15); }
    .footer .footer_qr .app__item {
      margin-bottom: 5px;
      width: 86px;
      height: 22px; }

.footer__bottom {
  text-align: center;
  margin-top: 20px;
  padding: 40px;
  font-size: 1.2rem;
  background-color: whitesmoke;
  color: #737373; }
